---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Email submitted!">
  <div class="m-4 flex flex-col items-center sm:m-6">
    <main
      class="w-full rounded bg-slate-100 px-4 py-2 text-center sm:px-8 sm:py-6 md:max-w-3xl"
    >
      You have been subscribed!
    </main>
  </div>
</BaseLayout>
