---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTubeVideo from "../components/YouTubeVideo.svelte";
const talks = [
	"hg1SvZ42Mes",
	"cPLErKHGtpQ",
	"GBRm-D-AMxA",
	"6Bqf_FLqYb8",
	"-iYu8kC3rOk",
	"-dyalS9_s3o",
	"LvVBj34F6po",
	"d8O_XSC_XjY",
	"pTpATrMsl2c",
	"zlNgsWwWzyQ",
	"ubYTlZh3Ry0",
	"EzhLcpd0fNY",
	"S0QEEZ5VdF0",
	"EXhgeNg8Ezk",
	"rhnITQ7AM88",
	"ix3Q6XevlA0",
	"A2D1Cg-ZrpU",
	"z1yfZrlYRUU",
];
---

<BaseLayout>
	<header class="flex flex-wrap justify-center items-center w-fit m-auto my-4">
		<h1 class="font-thin text-5xl sm:text-6xl p-4">My Talks</h1>
	</header>
	<div class="flex flex-wrap justify-center gap-8 m-8">
		{
			talks.map((talk) => {
				return <YouTubeVideo client:load id={talk} />;
			})
		}
	</div>
</BaseLayout>
