---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTubeVideo from "../components/YouTubeVideo.svelte";
import { TALKS } from "../consts";
---

<BaseLayout title="Talks">
	<header class="flex flex-wrap justify-center items-center w-fit m-auto my-4">
		<h1 class="font-thin text-5xl sm:text-6xl p-4">My Talks</h1>
	</header>
	<div class="flex flex-wrap justify-center gap-4 sm:gap-8 m-4">
		{
			TALKS.map((talk) => {
				return <YouTubeVideo client:load id={talk} />;
			})
		}
	</div>
</BaseLayout>
