---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<script defer>
document.addEventListener("DOMContentLoaded", () => {
  const output = document.getElementById("output");
  const params = new URLSearchParams(window.location.search);
  const uuid = params.get("uuid");
  if (uuid) {
    (async () => {
      const { result } = await fetch(
        `https://email-worker.rob-3.workers.dev/verify-email?uuid=${uuid}`,
      ).then((res) => res.json());
      output.innerHTML = result;
    })();
  }
});
</script>

<BaseLayout title="Verify your email">
  <div class="m-4 flex flex-col items-center sm:m-6">
    <main
      class="w-full rounded bg-slate-100 px-4 py-2 text-center sm:px-8 sm:py-6 md:max-w-3xl"
    >
      <div id="output">Loading...</div>
    </main>
  </div>
</BaseLayout>
