---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import "../styles/blog.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout {title}>
	<div class="flex flex-col items-center m-4 sm:m-6">
		<main class="w-full md:max-w-3xl px-4 sm:px-8 py-2 sm:py-6 bg-slate-100 rounded">
			<article>
				<h1 class="py-4">{title}</h1>
				{
					pubDate && (
						<div>
							<time class="dateline" datetime={pubDate.toISOString()}>
								{pubDate.toLocaleString(undefined, {
									dateStyle: "short",
									timeStyle: "short",
								})}
							</time>
						</div>
					)
				}
				{
					updatedDate && (
						<div class="text-sm">
							<span>
								{"Last updated "}
								<time datetime={updatedDate.toISOString()}>
									{updatedDate.toLocaleString(undefined, {
										dateStyle: "short",
										timeStyle: "short",
									})}
								</time>
							</span>
						</div>
					)
				}
				<slot />
			</article>
			<div class="flex justify-between mt-8">
				<a href="/blog">← All Posts</a>
				<span class="hidden sm:visible">Copyright © 2023 Robert Boyd III</span>
				<a href="mailto:blog@robertboyd.dev">Email me!</a>
			</div>
		</main>
	</div>
</BaseLayout>
