---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import "../styles/blog.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout {title}>
	<div class="flex flex-col items-center m-4 sm:m-6">
		<main class="w-full md:max-w-3xl px-4 sm:px-8 py-2 sm:py-6 bg-slate-100 rounded">
			<article>
				<h1 class="py-4">{title}</h1>
				{
					pubDate && (
						<div>
							<time class="dateline" datetime={pubDate.toISOString()}>
								{pubDate.toLocaleString(undefined, {
									dateStyle: "short",
									timeStyle: "short",
								})}
							</time>
						</div>
					)
				}
				{
					updatedDate && (
						<div class="text-sm">
							<span>
								{"Last updated "}
								<time datetime={updatedDate.toISOString()}>
									{updatedDate.toLocaleString(undefined, {
										dateStyle: "short",
										timeStyle: "short",
									})}
								</time>
							</span>
						</div>
					)
				}
				<slot />
			</article>
			<div class="my-grid grid grid-cols-3 gap-2 sm:gap-8 sm:grid-cols-[auto,1fr,auto] grid-rows-2 sm:grid-rows-1 mt-6 items-center">
				<div class="my-back">
					<a href="/blog">← All Posts</a>
				</div>
				<form class="my-form flex justify-center gap-2">
					<input class="px-4 py-2 flex-grow rounded border border-gray-200" type="email" pattern=".+@.+" />
					<button class="text-white border border-solid border-black px-4 py-2 talk-link rounded bg-black hover:bg-[rgba(0,0,0,0)] hover:text-black transition-all" type="submit">Subscribe</button>
				</form>
				<div class="my-copyright text-center sm:hidden">
					© Robert Boyd III
				</div>
				<div class="my-email text-right">
					<a href="mailto:blog@robertboyd.dev">Email me!</a>
				</div>
			</div>
		</main>
	</div>
</BaseLayout>

<style>
@media (max-width: 639px) {
	.my-form {
		grid-area: top;
	}
	.my-back {
		grid-area: left;
	}
	.my-email {
		grid-area: right;
	}
	.my-copyright {
		grid-area: center;
	}
	.my-grid {
		grid-template-areas:
			"top top top"
			"left center right";
	}
}
</style>
