---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import "../styles/blog.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
	<div class="flex flex-col items-center m-4 sm:m-6">
		<main class="w-full md:max-w-3xl px-4 sm:px-8 py-4 bg-slate-100 rounded-lg">
			<article>
				<h1 class="py-2">{title}</h1>
				{
					pubDate && (
						<div>
							<time datetime={pubDate.toISOString()}>
								{pubDate.toLocaleString(undefined, {
									dateStyle: "short",
									timeStyle: "short",
								})}
							</time>
						</div>
					)
				}
				{
					updatedDate && (
						<div class="text-sm">
							<span>
								{"Last updated "}
								<time datetime={updatedDate.toISOString()}>
									{updatedDate.toLocaleString(undefined, {
										dateStyle: "short",
										timeStyle: "short",
									})}
								</time>
							</span>
						</div>
					)
				}
				<slot />
			</article>
		</main>
	</div>
</BaseLayout>
