---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import "../styles/blog.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout {title}>
  <div class="m-4 flex flex-col items-center sm:m-6">
    <main
      class="w-full rounded bg-slate-100 px-4 py-2 sm:px-8 sm:py-6 md:max-w-3xl"
    >
      <article>
        <h1 class="py-2">{title}</h1>
        {
          pubDate && (
            <div>
              <time class="dateline" datetime={pubDate.toISOString()}>
                {pubDate.toLocaleString(undefined, {
                  dateStyle: "short",
                  timeStyle: "short",
                })}
              </time>
            </div>
          )
        }
        {
          updatedDate && (
            <div class="text-sm">
              <span>
                {"Last updated "}
                <time datetime={updatedDate.toISOString()}>
                  {updatedDate.toLocaleString(undefined, {
                    dateStyle: "short",
                    timeStyle: "short",
                  })}
                </time>
              </span>
            </div>
          )
        }
        <slot />
      </article>
      <div class="mt-6 items-center">
        <form
          class="my-grid"
          action="https://email-worker.rob-3.workers.dev/subscribe-form"
          method="post"
          name="email"
        >
          <div class="my-back">
            <a href="/blog">← All Posts</a>
          </div>
          <input
            class="my-form flex-grow rounded border border-gray-200 px-4 py-2 transition-all invalid:border-red-500"
            type="email"
            name="email"
          />
          <button
            class="submit talk-link rounded border border-solid border-black bg-black px-4 py-2 text-white transition-all hover:bg-[rgba(0,0,0,0)] hover:text-black"
            type="submit">Subscribe</button
          >
          <div class="my-email text-right">
            <a href="mailto:blog@robertboyd.dev">Email me!</a>
          </div>
        </form>
      </div>
    </main>
  </div>
</BaseLayout>

<style>
  .my-form {
    grid-area: center-left;
  }
  .my-back {
    grid-area: left;
  }
  .submit {
    grid-area: center-right;
  }
  .my-email {
    grid-area: right;
  }
  .my-grid {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "left center-left center-right right";
  }
  @media (max-width: 639px) {
    .my-form {
      grid-area: top;
    }
    .my-back {
      grid-area: left;
    }
    .submit {
      grid-area: center;
    }
    .my-email {
      grid-area: right;
    }
    .my-grid {
      align-items: center;
      gap: 1rem;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "top top top"
        "left center right";
    }
  }
</style>
